.friend-stories-content {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  margin-bottom: 24px;
}

.friend-stories-subcontent {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

.image-content {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: solid 3px black;
  margin-top: 2px;
  cursor: pointer;
}

.border-image-content {
  width: 66px;
  height: 66px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%
  );
  border-radius: 50%;
}
