.main-content-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.main-content-header-left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main-content-header-image-content {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: solid 3px black;
  margin-top: 2px;
  cursor: pointer;
}

.main-content-header-border-image-content {
  width: 42px;
  height: 42px;
  background: linear-gradient(#cc00ff, #ff9900);
  border-radius: 50%;
}

.main-content-header-name-people {
  margin-left: 10px;
}

.main-content-header-time {
  color: grey;
}

.main-content-header-dot {
  padding-top: 8px;
}

.main-content-header-dots {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 25px;
  cursor: pointer;
}
