textarea {
  border: 0;
}

.submit-div {
  cursor: pointer;
  display: none;
}

.submit-button {
  border: none;
  cursor: pointer;
  background: none;
  color: #0095f6;
  font-size: 14px;
  font-weight: 900;

  &:hover {
    color: white;
  }
}

.picker {
  display: none;
  position: absolute;
  margin: 0px 0px 500px 330px;
}

.emoji-smile {
  cursor: pointer;
  padding: 0;
}

.textarea-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  color: rgb(245, 245, 245);
  width: 100%;
  border: none;
  padding: 0;
  resize: none;
  line-height: 18px;
  height: 18px !important;
  background-color: #000000;
  &:focus {
    border: none;
    outline: none;
  }
  &::placeholder {
    color: #ccc;
  }
}

.comment-user-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}
