.instagram {
  display: flex;
  flex-direction: row;
  margin-left: 345px;
  width: 100%;
  max-width: fit-content;
  height: 100%;
}

@media (width <= 430px) {
  .instagram {
    margin-left: 0px;
  }

  .main-right-container {
    padding-left: 0px;
    display: none;
  }
}
