:root {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color-scheme: light dark;
  color: white;
  background-color: #000000;
  margin: -8px;
  display: flex;
  text-align: center;
}
